@import url('https://fonts.googleapis.com/css2?family=Tangerine');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&family=ZCOOL+XiaoWei&display=swap');
$tangerine1: 'Tangerine', serif;

$notoserifsc: 'Noto Serif SC', serif;

$mashanzheng: 'Ma Shan Zheng', serif;

$zcoolxiaowei: 'ZCOOL XiaoWei', Sans-Serif;

$zcoolqingkehuangyou: 'ZCOOL QingKe HuangYou', Sans-Serif;
